<form method="post">
    <input type="email"name="email" value=""placeholder="Tu email">
    <br><br>
    <input type="password"name="password"value=""placeholder="Tu contraseña">
    <br><br>
    <input type="submit"value="Login">
</form>